<div align="center" class="home-footer">
	<p style="color: #ECEC0E;">Shorten your url here &#10549;</p>
</div>

<%= form_for(@url) do |f| %>
<div align="center" style="font-size: 21px; margin-top: 40px; font-family: monospace; letter-spacing: -1.8px; word-spacing: -3px; font-weight: 550;">
		<%= f.label "Enter You Url :" %>
		<%= f.text_field :original_url, required: true %>
	
</div>

<div align="center" style="font-size: 24px;">
	<button type="submit" title="Shorten your Url" style="margin-top: 50px;">Shorten</button>
</div>
<% end %>

<footer style="margin-top: 410px;" align="center">Developed by&nbsp;<a href="https://instagram.com/nattu_nagendran"><em>Nagendran M</em></a></footer>

<style type="text/css">
	
	body {
		background-color: #B2ECEE;
	}

	button {
		color: brown;
		background-color: orange;
		border: none;
		border-radius: 8px;
		font-size: 0.9em;
		font-weight: 650;
		letter-spacing: -1px;
		font-family: monospace;
		cursor: pointer;
		padding: 6px 15px;
	}

	.home-footer {
		padding: 0.1px 20px;
		background-color: #073809;
		font-family: monospace;
		font-size: 24px;
		font-weight: 550;
		margin-top: -10px;
	}

</style>
