<html>
	<div align="center" class="home-footer">
		<p>Shorten your url here &#10549;</p>
	</div>

	<%= form_for(@url) do |f| %>
		<div align="center" class="input-field">
				<%= f.label "Enter You Url :" %>
				<%= f.text_field :original_url, required: true %>
				<input type="reset" name="Reset" class="reset-btn">			
		</div>
		<div align="center">
			<button type="submit" title="Shorten your Url">Shorten</button>
		</div>
	<% end %>

	<footer style="margin-top: 410px;" align="center">Developed by&nbsp;<a href="https://instagram.com/nattu_nagendran" target="_blank"><em>Nagendran M</em></a></footer>

	<!------------------------------------------------------------------------------>
	<!-- StyleSheet Space -->

	<style type="text/css">

		body {
			background-color: #B2ECEE;
		}

		.input-field {
			font-size: 21px;
			margin-top: 40px;
			font-family: monospace;
			letter-spacing: -1.8px;
			word-spacing: -3px;
			font-weight: 550;
		}

		.reset-btn {
			color: red;
			font-weight: 550;
			cursor: pointer;
		}

		button {
			color: brown;
			background-color: orange;
			border: none;
			border-radius: 8px;
			font-weight: 650;
			letter-spacing: -1px;
			font-family: monospace;
			cursor: pointer;
			padding: 6px 15px;
			margin-top: 50px;
			font-size: 22px;
		}

		.home-footer {
			color: #ECEC0E;
			padding: 0.1px 20px;
			background-color: #073809;
			font-family: monospace;
			font-size: 24px;
			font-weight: 550;
			margin-top: -10px;
		}

	</style>

</html>
