<!DOCTYPE html>
<html>
<head>
	<!-- <meta charset="utf-8"> -->
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
	<div align="center" class="home-header">
			<p>Shorten your url here</p>
	</div>

	<%= form_for [@url], :remote => true, :html => {:id => 'form'} do |f| %>
		<div align="center" class="input-field">
				<%= f.label "Enter You Url :", class: "label" %>
				<%= f.text_field :original_url, required: true, class: 'form', autofocus: true, id: 'url-form' %>
				<input type="reset" name="Reset" class="reset-btn">			
		</div>
		<div align="center">
			<button type="submit" title="Shorten your Url" id="button">Shorten</button>
		</div>
	<% end %>

	<!-- <div align="center" class="prev-urls">
		<span class="head-text">Previous shortened url's</span>
		<em class="hint-text">(last five)</em>
		<div class="urls">
			<p>
				<span id="url-o-1" class="original-url" align="left"></span>
				<span id="url-g-1" class="generated-url" align="right"></span>
			</p>
			<p>
				<span id="url-o-2" class="original-url" align="left"></span>
				<span id="url-g-2" class="generated-url" align="right"></span>
			</p>
			<p>
				<span id="url-o-3" class="original-url" align="left"></span>
				<span id="url-g-3" class="generated-url" align="right"></span>
			</p>
			<p>
				<span id="url-o-4" class="original-url" align="left"></span>
				<span id="url-g-4" class="generated-url" align="right"></span>
			</p>
			<p>
				<span id="url-o-5" class="original-url" align="left"></span>
				<span id="url-g-5" class="generated-url" align="right"></span>
			</p>
		</div>
	</div> -->

	<div align="center" class="prev-urls">
		<span class="head-text">Previous shortened url's</span>
		<em class="hint-text">(last five)</em>
	</div>

	<div align="center">
	    <ul>
	      <div class="c" id="c1">
	      <li class="a" id="url-o-1" tabIndex="-1"></li>
	      <li class="b" id="url-g-1"></li>
	      <li class="d">
	        <button class="copy-button" onclick="copyToClipboard('1');">Copy</button>
	      </li>
	    </div>
	    <div class="c" id="c2">
	      <li class="a" id="url-o-2"></li>
	      <li class="b" id="url-g-2"></li>
	      <li class="d">
	        <button class="copy-button" onclick="copyToClipboard('2');">Copy</button>
	      </li>
	    </div>
	      <div class="c" id="c3">
	      <li class="a" id="url-o-3"></li>
	      <li class="b" id="url-g-3"></li>
	      <li class="d">
	        <button class="copy-button" onclick="copyToClipboard('3');">Copy</button>
	      </li>
	    </div>
	      <div class="c" id="c4">
	      <li class="a" id="url-o-4"></li>
	      <li class="b" id="url-g-4"></li>
	      <li class="d">
	        <button class="copy-button" onclick="copyToClipboard('4');">Copy</button>
	      </li>
	    </div>
	    <div class="c" id="c5">
	      <li class="a" id="url-o-5"></li>
	      <li class="b" id="url-g-5"></li>
	      <li class="d">
	        <button class="copy-button" onclick="copyToClipboard('5');">Copy</button>
	      </li>
	    </div>
	    </ul>
  </div>

	<footer class="footer-block" align="center">Developed by&nbsp;Nagendran M
		<div class="social-media-block">
			<a href="https://github.com/Nagendranm5" class="fa fa-github-square" target="_blank" title="Github"></a>
			<a href="https://in.linkedin.com/in/nagendranm08122000" class="fa fa-linkedin" target="_blank" title="LinkedIn"></a>
			<a href="https://www.facebook.com/nagendran.nagendran.9461" class="fa fa-facebook" target="_blank" title="Facebook"></a>
			<a href="https://www.instagram.com/nattu_nagendran" class="fa fa-instagram" target="_blank" title="Instagram"></a>  
			<a href="https://twitter.com/nattu_nagendran" class="fa fa-twitter" target="_blank" title="Twitters"></a>
		</div>
	</footer>

	<!-- <p id="url-l-6" style="display: none;"></p>
	<p id="url-l-2" style="display: none;"></p>
	<p id="url-l-3" style="display: none;"></p>
	<p id="url-l-4" style="display: none;"></p>
	<p id="url-l-5" style="display: none;"></p> -->


	<!------------------------------------------------------------------------------>
	<!-- StyleSheet Space -->

	<style type="text/css">

		body {
			/*background-color: #B2ECEE;*/
		}

		.home-header {
			color: #ECEC0E;
			padding: 0.1px 20px;
			background-color: #073809;
			font-family: monospace;
			font-size: 24px;
			font-weight: 550;
			margin-top: -7px;
		}

		.input-field {
			font-size: 21px;
			margin-top: 40px;
			font-family: monospace;
			letter-spacing: -1.8px;
			word-spacing: -3px;
			font-weight: 550;
		}

		.form {
			padding: 0 3px;
			min-height: 29px;
			min-width: 29%;
			font-size: 20px;
			border: 1px solid orange;
			background-color: #A8D1B9;
			border-radius: 7px;
			outline-color: green;
		}

		.form:focus {
			background-color: lightgrey;
			outline-color: orange;
		}

		.reset-btn {
			color: red;
			background-color: lightgreen;
			font-weight: 550;
			border: none;
			padding: 5px 12px;
			border-radius: 6px;
			cursor: pointer;
		}

		.reset-btn:hover {
			background-color: yellow;
			opacity: 1;
		}

		#button {
			color: brown;
			background-color: orange;
			border: none;
			border-radius: 8px;
			font-weight: 650;
			letter-spacing: -1px;
			font-family: monospace;
			cursor: pointer;
			padding: 6px 15px;
			margin-top: 50px;
			font-size: 22px;
		}

		button:hover{
			opacity: 0.9;
		}

		.prev-urls {
			margin-top: 40px;
			margin-bottom: 30px;
			font-size: 1.2rem;
			font-family: Arial, Helvetica, sans-serif;
		}

		.head-text {
			color: blue;
			letter-spacing: -0.5px;
			font-weight: bold;
		}

		.hint-text {
			color: grey;
			font-size: 1rem;
			font-weight: bold;
		}

		/*

		.urls {
			margin-top: 35px;
		}

		.original-url {
			display: block;
			margin-top: -10px;
			margin-left: 150px;
		}

		.generated-url {
			display: block;
			color: blue;
			margin-top: -22px;
			margin-right: 300px;
		}
*/		

	.copy-button {
	    /*display: inline-block;*/
	    /*margin-top: -10px;*/
	    /*display: inline;*/
	    border: none;
	    background-color: lightgrey;
	    font-weight: bold;
	    color: darkorange;
	    padding: 5px 10px;
	    border-radius: 7px;
	    cursor: pointer;
	  }

	  .copy-button:hover {
	  	background-color: grey;
	  	opacity: -0.5px;
	  }

	 ul {
	  white-space: nowrap;
	  height: 1em;
	  }

	.d{
	  margin-left: 45px;
	}

	.c{
	   list-style-type: none;
	   margin-top: 20px;
	   /*overflow-x: auto;*/
	   display: none;
	   margin-left: 20px;
	}

	.a {
	   list-style-type: none;
	   background-color: lightgreen;
	   width: 400px;
	   /*overflow-x: auto;*/
	   float: left;
	   display: flex;
	   margin-right: 90px;
	   margin-left: 60px;
	}

	  .b {
	     list-style-type: none;
	     width: 330px;
	     /*overflow-x: auto;*/
	     float: center;
	     display: flex;
	     justify-content: center;
	     margin-left: 120px;
	     color: blue;
	     background-color: yellow;
	  }

	  @media (max-width: 480px){
	    .a{
	      display: flex;
	      justify-content: left;
	      max-width: 100%;
	      /*float: block;*/
	      margin-left: 0;
	      margin-right: 0;
	    }

	    .b{
	      display: flex;
	      justify-content: left;
	      margin-right: 0;
	      margin-left: 0;
	      /*float: none;*/
	      max-width: 100%;
	    }

	    .c{
	      display: block;
	      max-width: 100%;
	      margin-top: 20px;
	      margin-left: -35px;
	      margin-right: 0;
	      font-size: 13px;
	    }

	    .d{
	      /*max-width: 50%;*/
	      margin-top: 10px;
	      margin-left: -5px;
	    }
	  }

	.footer-block {
			padding: 18px;
			font-family: monospace;
			font-size: 14px;
			letter-spacing: -0.6px;
			background-color: #43484B;
			margin-top: 348px;
			margin-bottom: -10px;
			color: #C1C6C8;
			font-weight: 550;
		}

		.social-media-block {
			margin-top: 10px;
			font-size: 19px;
		}

		@media (max-width: 480px) {
			.home-header {
				font-size: 20px;
				font-weight: 600;
			}

			.label {
				font-weight: 600;
			}

			.form {
				margin-top: 20px;
			}

			.reset-btn {
				margin-top: 15px;
			}
			.footer-block {
				margin-top: 460px;
			}
		}

		</style>

		<script type="text/javascript">
			
			var url = document.getElementById('url-form');
			var form = document.getElementById('form');

			form.addEventListener('submit', (e)=>{
				if(check_domain(url.value)){
					alert("Please enter the Valid URL!")
					e.preventDefault()
					url.focus();
				}
			})

			function check_domain(param_url) {
				const domains = ["com","ru","org","net","in","ir","au","uk","ua","ca","co","us"]
				const url = param_url.replace(/\//g,'')
				for(let i=0 ; i < domains.length ; i++){
					if(url.includes("."+domains[i])){
						return false;
					}
				}
				return true;
			}

			function get_url_localStorage() {
				var urls = localStorage.getItem("my_urls");
				if(urls != null) {
					urls = JSON.parse(urls);
					var length = urls.length;
					for(var i=urls.length-1, id = 1 ; i >= urls.length - 5 && length > 0; i--, id++,length--) {
						document.getElementById("c"+id).style.display = 'flex';
						document.getElementById("url-o-"+id).innerHTML = urls[i].original_url_temp;
						document.getElementById("url-g-"+id).innerHTML = urls[i].generated_url;
					}
				}
			}

			get_url_localStorage();

			function copyToClipboard(btn) {
				var url_2 = document.getElementById("url-g-"+btn).innerText;
				var new_element = document.createElement('textarea');
				new_element.value = url_2;
		        new_element.setAttribute('readonly', '');
		        new_element.style = {position: 'absolute', left: '-9999px'};
		        document.body.appendChild(new_element);
		        new_element.select();
		        document.execCommand('copy');
		        document.body.removeChild(new_element);
			}

		</script>

		<style type="text/css">
			
			@media (max-width: 480px){
	    .a{
	      display: flex;
	      justify-content: left;
	      max-width: 100%;
	      /*float: block;*/
	      margin-left: 0;
	      margin-right: 0;
	    }

	    .b{
	      display: flex;
	      justify-content: left;
	      margin-right: 0;
	      margin-left: 0;
	      /*float: none;*/
	      max-width: 100%;
	    }

	    .c{
	      display: block;
	      max-width: 100%;
	      margin-top: 20px;
	      margin-left: -35px;
	      margin-right: 0;
	      font-size: 13px;
	    }

	    .d{
	      /*max-width: 50%;*/
	      margin-top: 10px;
	      margin-left: -5px;
	    }
	  }

		</style>

</body>
</html>
