<!DOCTYPE html>
<html>
<head>
	<!-- <meta charset="utf-8"> -->
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
	<div align="center" class="home-header">
			<p>Shorten your url here</p>
	</div>

	<%= form_for(@url) do |f| %>
		<div align="center" class="input-field">
				<%= f.label "Enter You Url :" %>
				<%= f.text_field :original_url, required: true, class: 'form', autofocus: true %>
				<input type="reset" name="Reset" class="reset-btn">			
		</div>
		<div align="center">
			<button type="submit" title="Shorten your Url">Shorten</button>
		</div>
	<% end %>

	<div class="footer-block" align="center" style="margin-top: 348px;">Developed by&nbsp;Nagendran M
		<div class="social-media-block">
			<a href="https://github.com/Nagendranm5" class="fa fa-github-square" target="_blank" title="Github"></a>
			<a href="https://in.linkedin.com/in/nagendranm08122000" class="fa fa-linkedin" target="_blank" title="LinkedIn"></a>
			<a href="https://www.facebook.com/nagendran.nagendran.9461" class="fa fa-facebook" target="_blank" title="Facebook"></a>
			<a href="https://www.instagram.com/nattu_nagendran" class="fa fa-instagram" target="_blank" title="Instagram"></a>  
			<a href="https://twitter.com/nattu_nagendran" class="fa fa-twitter" target="_blank" title="Twitters"></a>
		</div>
	</div>


	<!------------------------------------------------------------------------------>
	<!-- StyleSheet Space -->

	<style type="text/css">

		body {
			background-color: #B2ECEE;
		}

		.home-header {
			color: #ECEC0E;
			padding: 0.1px 20px;
			background-color: #073809;
			font-family: monospace;
			font-size: 24px;
			font-weight: 550;
			margin-top: -7px;
		}

		@media (max-width: 480px) {
			.home-header {
				font-size: 20px;
			}
		}

		.input-field {
			font-size: 21px;
			margin-top: 40px;
			font-family: monospace;
			letter-spacing: -1.8px;
			word-spacing: -3px;
			font-weight: 550;
		}

		.form {
			padding: 0 3px;
			min-height: 29px;
			min-width: 29%;
			font-size: 20px;
			border: 1px solid orange;
			background-color: #A8D1B9;
			border-radius: 7px;
			outline-color: green;
		}

		.form:focus {
			background-color: lightgrey;
			outline-color: orange;
		}

		.reset-btn {
			color: red;
			background-color: lightgreen;
			font-weight: 550;
			border: none;
			padding: 5px 12px;
			border-radius: 6px;
			cursor: pointer;
		}

		.reset-btn:hover {
			background-color: yellow;
			opacity: 1;
		}

		button {
			color: brown;
			background-color: orange;
			border: none;
			border-radius: 8px;
			font-weight: 650;
			letter-spacing: -1px;
			font-family: monospace;
			cursor: pointer;
			padding: 6px 15px;
			margin-top: 50px;
			font-size: 22px;
		}

		button:hover{
			opacity: 0.9;
		}

		.footer-block {
			padding: 18px;
			font-family: monospace;
			font-size: 14px;
			letter-spacing: -0.6px;
			background-color: #43484B;
			margin-top: 348px;
			margin-bottom: -10px;
			color: #C1C6C8;
			font-weight: 550;
		}

		.social-media-block {
			margin-top: 10px;
			font-size: 19px;
		}

		</style>
</body>
</html>
