<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
	<div align="center">
		<div class="home-style">
			<strong>Congratulations&nbsp;&#127882;&nbsp;Your Original Url Was Successfully Shortened!</strong>
		</div>
		<div class="home-below-style">
			<em>(Hereafter you can use below generated url in your browsers instead of original url)</em>
		</div>
	</div>

	<table align="center" id="myTable">
		<tbody>
			<td><strong>Original Url</strong></td>
			<td>
				<% if @url.try(:original_url).length < 48 %>
					<%= @url.try(:original_url)%>
				<% else %>
					<%= @url.try(:original_url)[0..44] + "..." %>
				<% end %>
			</td>
			<td align="center">
				<button id="btn_1" class="btn-1" onclick="btn_1()" title="Copy to Clipboard">
				Copy!
				</button>
			</td>
			<tr/>

			<td><strong>Generated Url&nbsp;&nbsp;</strong></td>
			<td style="width: 68%"><%= "https://shorturl-nattu.herokuapp.com/" + @url.try(:generated_url) %></td>
			<td align="center">
				<button id="btn_2" class="btn-2" onclick="btn_2()" title="Copy to Clipboard">
				Copy!
				</button>
			</td>
		</tbody>
	</table>

	<div align="center">
		<a href="/">
			<button class="btn-3" title="Generate new url">Generate New</button>
		</a>
	</div>

	<div class="footer-block" align="center" style="margin-top: 112px;">Developed by&nbsp;Nagendran M
		<div class="social-media-block">
			<a href="https://github.com/Nagendranm5" class="fa fa-github-square" target="_blank" title="Github"></a>
			<a href="https://in.linkedin.com/in/nagendranm08122000" class="fa fa-linkedin" target="_blank" title="LinkedIn"></a>
			<a href="https://www.facebook.com/nagendran.nagendran.9461" class="fa fa-facebook" target="_blank" title="Facebook"></a>
			<a href="https://www.instagram.com/nattu_nagendran" class="fa fa-instagram" target="_blank" title="Instagram"></a>  
			<a href="https://twitter.com/nattu_nagendran" class="fa fa-twitter" target="_blank" title="Twitters"></a>
		</div>
	</div>

	<!-- Hidden Element for Copying Original Url -->
	<p id="url-main" style="display: none;"><%= @url.try(:original_url) %></p>

	<!------------------------------------------------------------------------------>
	<!-- StyleSheet Space -->

	<style type="text/css">
		table, th, td {
		  border: 2px solid black;
		  border-color: grey;
		  border-collapse: collapse;
		  margin-top: 90px;
		  margin-bottom: 30px;
		  font-size: 22px;
		  line-height: 90px;
		  background-color: #D2D2D2;
		}

		.home-style {
			margin-top: -10px;
			letter-spacing: 0.9px;
			font-size: 20px;
			padding: 20px 80px;
			background-color: #073809;
			color: #EED62E;
		}

		.home-below-style {
			padding: 10px 20px;
			background-color: #073809;
			color: orange;
		}

		@media (max-width: 480px) {
			.home-style {
				font-size: 17px;
				padding: 20px 0;

			}
			table, th, td {
				font-size: 15px;
				line-height: 40px;
			}
		}

		.btn-1, .btn-2 {
			background-color: #3F6718;
			font-size: 20px;
			color: yellow;
			border-color: #D2D2D2;
		    cursor: pointer;
		    border: none;
		    border-radius: 8px;
		}

		.btn-1:hover {
			background-color: yellow;
			color: #3F6718;
			opacity: none;
		}

		.btn-2:hover {
			background-color: yellow;
			color: #3F6718;
			opacity: none;
		}

		.btn-3 {
			/*background-color: #F5E782;*/
			background-color: #DE922C;
			padding: 12px 12px;
			font-size: 18px;
			border-radius: 10px;
			font-weight: 700;
			color: brown;
			margin-top: 15px;
			border: none;
			cursor: pointer;
		}

		.btn-3:hover {
			background-color: #B3A99B;
		}

		body {
			/*background-color: #B2ECEE;*/
		}

	</style>

	<!------------------------------------------------------------------------------>
	<!-- JavaScript Space -->

	<script type="text/javascript">

		function btn_1() {
			let url = document.getElementById("url-main").innerHTML;
			let btn = document.getElementById("btn_1");
			btn.innerHTML = "Copied";
			btn.style.backgroundColor = "lightgreen"
			btn.style.fontSize = "16.5px";
			btn.style.color = "black";
			navigator.clipboard.writeText(url);
			setTimeout(button1_name_change, 1500);

			// Display the status in the console
			console.log("Original Url Was Copied To Your Clipboard Successfully!");
			console.log(navigator.clipboard.readText());
		}

		function btn_2() {
			let url = document.getElementById("myTable").rows[1].cells[1].innerHTML;
			let btn = document.getElementById("btn_2");
			btn.innerHTML = "Copied";
			btn.style.backgroundColor = "lightgreen"
			btn.style.fontSize = "16.5px";
			btn.style.color = "black";
			navigator.clipboard.writeText(url);
			setTimeout(button2_name_change, 1500);

			// Display the status in the console
			console.log("Generated Url Was Copied To Your Clipboard Successfully!\n");
			console.log(navigator.clipboard.readText());
		}

		function button1_name_change() {
			let btn = "btn_1";
			let button = document.getElementById(btn);
			button.innerHTML = "Copy!";
			button.style.backgroundColor = "#D2D2D2";
			button.style.fontSize = "20px";
			button.style.backgroundColor = "#3F6718";
			button.style.color = "yellow";
		}

		function button2_name_change() {
			let button = document.getElementById("btn_2");
			button.innerHTML = "Copy!";
			button.style.backgroundColor = "#D2D2D2";
			button.style.fontSize = "20px";
			button.style.backgroundColor = "#3F6718";
			button.style.color = "yellow";
		}

	</script>
</body>
</html>
